<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouzhong1223.gzchat.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gouzhong1223.gzchat.entity.User">
        <!--@mbg.generated-->
        <!--@Table tb_user-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastLoginTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, userName, `password`, email, lastLoginTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from tb_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gouzhong1223.gzchat.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_user (userName, `password`, email,
        lastLoginTime)
        values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{lastLoginTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gouzhong1223.gzchat.entity.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                userName,
            </if>
            <if test="password != null and password != ''">
                `password`,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="lastLoginTime != null">
                lastLoginTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gouzhong1223.gzchat.entity.User">
        <!--@mbg.generated-->
        update tb_user
        <set>
            <if test="userName != null and userName != ''">
                userName = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gouzhong1223.gzchat.entity.User">
        <!--@mbg.generated-->
        update tb_user
        set userName = #{userName,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2020-08-02-->
    <select id="selectOneByEmail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        <where>
            <if test="email != null and email != ''">
                and email=#{email,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
